* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

.content {
  margin: 1em 7em 0 7em;
}

.content__head {
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: white;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  color: red;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: hsl(36, 100%, 100%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: -10px 0 -10px rgba(68, 45, 45, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid black;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
  font-size: 1.3em;
}

.hideBar {
  margin: 10% 0 20% 80%;
}

.hideBar:hover {
  cursor: pointer;
}

.menuButton {
  display: none;
}

.content__body {
  margin-top: 2em;
}
.content__body__top {
  display: flex;
  gap: 7em;
}
.content__body__top__left {
  width: 117%;
}
.content__body__top__left .web-3-desktop-image {
  background-image: url(./assets/images/image-web-3-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 13em;
}
.content__body__top__left__texts {
  display: flex;
  gap: 5.3em;
  margin-top: 1em;
}
.content__body__top__left__texts h1 {
  color: hsl(240, 100%, 5%);
  font-size: 2.8em;
  width: 40%;
  line-height: 1;
}
.content__body__top__left__texts .dive-paragraph-and-button {
  width: 45%;
  font-size: 1em;
  margin-left: 3em;
}
.content__body__top__left__texts button {
  padding: 1em;
  width: 45%;
  border: none;
  margin-top: 1.5em;
  background-color: hsl(5, 85%, 63%);
  color: #fff;
}
.content__body__top__right {
  width: 65%;
  background-color: hsl(240, 100%, 5%);
  color: #fff;
  display: flex;
  flex-direction: column;
}
.content__body__top__right h2 {
  color: hsl(35, 77%, 62%);
  margin: 1em 0;
  text-align: center;
}
.content__body__top__right a {
  font-weight: bolder;
  width: 70%;
  text-decoration: none;
  color: #fff;
  align-self: center;
}
.content__body__top__right a:hover {
  color: hsl(35, 77%, 62%);
}
.content__body__top__right p {
  font-size: 0.7em;
  margin-top: 1em;
  text-align: left;
  color: lightgrey;
  width: 60%;
  margin: 1em 0 0 15%;
}
.content__body__top__right hr {
  margin: 1.5em 0;
}
.content__body__bottom {
  display: flex;
  margin: 1em 0;
  gap: 1.1em;
}
.content__body__bottom__01, .content__body__bottom__02, .content__body__bottom__03 {
  display: flex;
  gap: 2em;
  width: 90%;
}
.content__body__bottom__01 .retro-image,
.content__body__bottom__01 .laptops-image,
.content__body__bottom__01 .gaming-image, .content__body__bottom__02 .retro-image,
.content__body__bottom__02 .laptops-image,
.content__body__bottom__02 .gaming-image, .content__body__bottom__03 .retro-image,
.content__body__bottom__03 .laptops-image,
.content__body__bottom__03 .gaming-image {
  height: 100%;
  width: 25%;
  margin-right: 0em;
}
.content__body__bottom__01__texts, .content__body__bottom__02__texts, .content__body__bottom__03__texts {
  width: 65%;
}
.content__body__bottom__01__texts h4, .content__body__bottom__02__texts h4, .content__body__bottom__03__texts h4 {
  color: grey;
  font-size: 2em;
}
.content__body__bottom__01__texts a, .content__body__bottom__02__texts a, .content__body__bottom__03__texts a {
  margin: 0.3em 0;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.content__body__bottom__01__texts a:hover, .content__body__bottom__02__texts a:hover, .content__body__bottom__03__texts a:hover {
  color: red;
}
.content__body__bottom__01__texts p, .content__body__bottom__02__texts p, .content__body__bottom__03__texts p {
  color: grey;
  font-size: 0.9em;
}

@media (max-width: 800px) {
  body {
    padding: 0.8em 0.9em 2em 0.9em;
  }
  .content__body__top {
    flex-direction: column;
    width: 100%;
    gap: 3em;
  }
  .content__body__top__left {
    width: 100%;
  }
  .content__body__top__left .web-3-desktop-image {
    background-image: url(./assets/images/image-web-3-mobile.jpg);
  }
  .content__body__top__left__texts {
    flex-direction: column;
    gap: 1em;
  }
  .content__body__top__left__texts h1 {
    width: 100%;
  }
  .content__body__top__left__texts .dive-paragraph-and-button {
    margin: 0;
    width: 100%;
  }
  .content__body__top__right {
    width: 100%;
    padding-bottom: 2em;
    margin-bottom: 1.5em;
  }
  .content__body__bottom {
    flex-direction: column;
  }
  .hideOnMobile {
    display: none;
  }
  .menuButton {
    display: block;
  }
}
@media (max-width: 500px) {
  .content {
    margin: 0;
  }
  .sidebar {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */